@import 'input.css';
@import 'button.css';
@import 'game.css';

// General styles
$white: #fff;

*,
*:after,
*:before {
    margin:0;
    padding:0;
}

.show {
    display: block !important;
}

.hide {
    display: none;
}

.hide__circle {
    visibility: hidden;
}

.hide-image {
    display: none !important;
}

.container {
    background-color: #ff5787;
    width: 100%;
    height: 100vh;
    .container__title {
        padding-top: 10%;
        position: relative;
        font-size: 4rem;
        text-align: center;
        font-family: 'Baloo Thambi 2', sans-serif;
        font-weight: 500;
        background: linear-gradient(-182deg, #ff2ee3 10%, #ff54dade 40%, #f023c3 70%, #ff580a 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
}

// GAME 

.game {
    width: 100%;
    height: 100vh;
}

.game__user {
    font-family: 'Roboto Condensed', sans-serif;;
    color: $white;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}

.game__fields {
    font-family: 'Roboto Condensed', sans-serif;;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    width: 100%;
    .game__timing {
        border-radius: 5%;
        background-color: #512b58;
        position: relative;
        width: 18%;
        height: 15rem;
        border: 1px solid red;
        color: $white;
        text-align: center;
    }
    .game__field {
        border-radius: 2%;
        background-color: #512b58;
        position: relative;
        width: 60%;
        height: 73vh;
        border: 1px solid red;
    }
    .game__user_points {
        border-radius: 5%;
        background-color: #512b58;
        color: $white;
        text-align: center;
        position: relative;
        width: 18%;
        height: 15rem;
        border: 1px solid red;
    }
}

.gameover {
    color: #fff;
    border-radius: 2%;
    background-color: #ff1e56;
    position: relative;
    width: 60%;
    height: 73vh;
    border: 1px solid red;
}

.game__circle1 {
    position: absolute !important;
    top: 0%;
    margin: 1rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    animation: circle 3s forwards linear , end 3.1s linear;
    animation-delay: 0.8s;
    &:hover {
        background-color: green ;
    }
}

.game__circle2 {
    position: absolute !important;
    top: 0%;
    margin: 1rem 5rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    animation: circle 3s forwards linear , end 3.1s linear;
    animation-delay: 0.7s;
    &:hover {
        background-color: green ;
    }
}

.game__circle3 {
    position: absolute !important;
    top: 0%;
    margin: 1rem 3rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    animation: circle 3s forwards linear , end 3.1s linear;
    animation-delay: .9s;
    &:hover {
        background-color: green ;
    }
}

.game__circle4 {
    position: absolute !important;
    top: 0%;
    margin: 1rem 2.2rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    animation: circle 3s forwards linear , end 3.1s linear;
    animation-delay: .9s;
    &:hover {
        background-color: green ;
    }
}

.game__circle5 {
    position: absolute !important;
    top: 0%;
    margin: 2rem 6rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    animation: circle 3s forwards linear , end 3.1s linear;
    animation-delay: 1s;
    &:hover {
        background-color: green ;
    }
}

.game__circle6 {
    position: absolute !important;
    top: 0%;
    margin: 1rem 10rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    animation: circle 3s forwards linear , end 3.1s linear;
    animation-delay: .7s;
    &:hover {
        background-color: green ;
    }
}

.game__circle7 {
    position: absolute !important;
    top: 0%;
    margin: 1rem 19rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    animation: circle 3s forwards linear , end 3.1s linear;
    animation-delay: .2s;
    &:hover {
        background-color: green ;
    }
}

.game__circle8 {
    position: absolute !important;
    top: 0%;
    margin: 1rem 15rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    animation: circle 3s forwards linear , end 3.1s linear;
    animation-delay: 1s;
    &:hover {
        background-color: green ;
    }
}

.game__circle9 {
    position: absolute !important;
    top: 0%;
    margin: 1rem 17rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    animation: circle 2s forwards linear , end 3.1s linear;
    animation-delay: 1.2s;
    &:hover {
        background-color: green ;
    }
}

.game__circle10 {
    position: absolute !important;
    top: 0%;
    margin: 1rem 20rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    animation: circle 1.6s forwards linear , end 3.1s linear;
    animation-delay: .7s;
    &:hover {
        background-color: green ;
    }
}

.game__circle11 {
    position: absolute !important;
    top: 0%;
    margin: 1rem 13rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    animation: circle 4s forwards linear , end 4.1s linear;
    animation-delay: .7s;
    &:hover {
        background-color: green ;
    }
}

.game__circle12 {
    position: absolute !important;
    top: 0%;
    margin: 1rem 23rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    animation: circle 2.7s forwards linear , end 2.8s linear;
    animation-delay: .5s;
    &:hover {
        background-color: green ;
    }
}

.game__circle13 {
    position: absolute !important;
    top: 0%;
    margin: 1rem 23rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    animation: circle 5.7s forwards linear , end 5.8s linear;
    animation-delay: .7s;
    &:hover {
        background-color: green ;
    }
}

.game__circle14 {
    position: absolute !important;
    top: 0%;
    margin: 1rem 23rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    animation: circle 4.3s forwards linear , end 4.4s linear;
    animation-delay: 1s;
    &:hover {
        background-color: green ;
    }
}

.game__circle15 {
    position: absolute !important;
    top: 0%;
    margin: 1rem 25rem;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    animation: circle 4s forwards linear , end 4.2s linear;
    animation-delay: .8s;
    &:hover {
        background-color: green ;
    }
}

@keyframes circle {
    0% {
       transform: translateY(0px);
    }

    50% {
       transform: translateY(300px);
    }
    75% {
       transform: translateY(440px);
    }
    100% {
        transform: translateY(441px);
        visibility: hidden;

    }
}

@keyframes end {
    100% {
        transform: translateY(441px);
        visibility: hidden;
    }
}

.game__board {
    position: absolute !important;
    position: relative;
    font-size: 3rem;
    color: $white;
    top: 0;
    color: #fff;
    margin: 200px 40% 0 40%;
}

.try7, .try8, .try9, .try10, .try11, .try12, .try13, .try14, .try15, .try16, .try17, .try18, .try19, .try20, .try21, .try22{
    user-select: none;
}