@import 'input.css';
@import 'button.css';
@import 'game.css';

@mixin font($font, $style){
    font-family: $font;
    font-style: $style;
};


$fontw: (
    "light" : 300,
    "medium": 500,
    "bold" : 700
);


// General styles
$white: #fff;

*,
*:after,
*:before {
    margin:0;
    padding:0;
}

::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track {
  background: #ffe2ff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #f19292, #ffd1bd);
  border-radius: 5px;
}

.show {
    display: block !important;
}

.hide {
    display: none;
}

.try25 {
    display: none;
}



.hide__circle {
    visibility: hidden;
}

.hide-image {
    display: none !important;
}

.container {
    background-color: #ff5787;
    width: 100%;
    height: 100vh;
    .container__title {
        padding-top: (100% / 10);
        position: relative;
        font-size: 4rem;
        text-align: center;
        font-family: 'Baloo Thambi 2', sans-serif;
        font-weight: map-get($fontw, medium);
        background: linear-gradient(-182deg, #ff2ee3 10%, #ff54dade 40%, #f023c3 70%, #ff580a 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        .container__title:hover {
            background: lighten(#f023c3 ,100);
        }

    }
}

// GAME 

.game {
    width: 100%;
    height: 100vh;
}

.game__user {
    @include font('Roboto Condensed', normal );
    // font-family: 'Roboto Condensed', sans-serif;;
    color: $white;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
}

.game__fields {
    font-family: 'Roboto Condensed', sans-serif;;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    width: 100%;
    > .game__time {
        display: block;
        border-radius: 5%;
        background-color: #b176bb;
        position: relative;
        width: 10%;
        height: 3rem;
        // border: 1px solid red;
        color: $white;
        text-align: center;
        text-align: center;
    }
    .game__timing {
        border-radius: 5%;
        background-color: #512b58;
        position: relative;
        width: 18%;
        height: 15rem;
        // border: 1px solid red;
        color: $white;
        text-align: center;
    }
    .game__field {
        // display: block;
        overflow: hidden;
        border-radius: 2%;
        background-color: #512b58;
        position: relative;
        width: 60%;
        height: 40rem;
        // border: 1px solid red;
    }
    .game__user_points {
        border-radius: 5%;
        background-color: #512b58;
        color: $white;
        text-align: center;
        position: relative;
        width: 18%;
        height: 15rem;
        // border: 1px solid red;
    }
}

.gameover {
    font-size: 4rem;
    text-align: center;
    color: #fff;
    border-radius: 2%;
    background-color: #ff1e56;
    position: relative;
    width: 60%;
    height: 73vh;
    // border: 1px solid red;
}

.winner {
    display: block;
    font-size: 4rem;
    text-align: center;
    color: #000;
    border-radius: 2%;
    background-color: #16ffa6;
    position: relative;
    width: 60%;
    height: 73vh;
    // border: 1px solid red;
}

.game__circle1 {
    // position: absolute !important;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    display: block;
    transition:  .5s linear;
    position: relative;
    cursor: pointer;
    &:hover {
        background-color: green ;
    }
}

.game__circle2 {
    // position: absolute !important;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    display: block;
    transition:  .5s linear;
    position: relative;
    cursor: pointer;
    &:hover {
        background-color: green ;
    }
}

.game__circle3 {
    // position: absolute !important;
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fff;
    display: block;
    transition:  .5s linear;
    position: relative;
    cursor: pointer;
    &:hover {
        background-color: green ;
    }
}

.game__circle4 {
    // position: absolute !important;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    display: block;
    transition:  .5s linear;
    position: relative;
    cursor: pointer;
    &:hover {
        background-color: green ;
    }
}

.game__circle5 {
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    display: block;
    transition:  .5s linear;
    position: relative;
    cursor: pointer;
    &:hover {
        background-color: green ;
    }
}

.game__circle6 {
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    display: block;
    transition:  .5s linear;
    position: relative;
    cursor: pointer;
    &:hover {
        background-color: green ;
    }
}

.game__circle7 {
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    display: block;
    transition:  .5s linear;
    position: relative;
    cursor: pointer;
    &:hover {
        background-color: green ;
    }
}

.game__circle8 {
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    display: block;
    transition:  .5s linear;
    position: relative;
    cursor: pointer;
    &:hover {
        background-color: green ;
    }
}

.game__circle9 {
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    display: block;
    transition:  .5s linear;
    position: relative;
    cursor: pointer;
    &:hover {
        background-color: green ;
    }
}

.game__board {
    position: absolute !important;
    position: relative;
    font-size: 3rem;
    color: $white;
    top: 0;
    color: #fff;
    margin: 200px 40% 0 40%;
    
}

.try7, .try8, .try9, .try10, .try11, .try12, .try13, .try14, .try15, .try16, .try17, .try18, .try19, .try20, .try21, .try22{
    user-select: none;
}

.new2{
    display: block;
    padding: 2rem;
    color: white;
    background-color: rgb(226, 43, 67);
    font-size: 40px;
    font-family: sans-serif;
    // &:hover {
    //     color: @debug darken($white, 50%);
    // }
  }